<div class="Block">
  <label id="lbl">Please select the Test .json File ... </label>
  <input type='file' (change)="onFileChange($event)">
</div>

<div *ngIf="_ready">
  <div class="card">

    <div class="card-body">
      <tabset>
        <tab heading="inapplicable" *ngIf="_json">
          <ng2-smart-table *ngIf="_json.inapplicable" [settings]="_settings" [source]="_json.inapplicable"></ng2-smart-table>

        </tab>
        <tab heading="incomplete">
          <ng2-smart-table *ngIf="_json.inapplicable" [settings]="_settings" [source]="_json.inapplicable"></ng2-smart-table>

        </tab>
        <tab heading="passes">
          <ng2-smart-table *ngIf="_json.passes" [settings]="_settings" [source]="_json.passes"></ng2-smart-table>

        </tab>
        <tab heading="violations">
          <ng2-smart-table *ngIf="_json.violations" [settings]="_settings" [source]="_json.violations"></ng2-smart-table>

        </tab>
      </tabset>
    </div>
  </div>

</div>
